@model TrainingMvcApp.Models.Trainer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trainer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainerId" class="control-label"></label>
                <input asp-for="TrainerId" class="form-control" />
                <span asp-validation-for="TrainerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerName" class="control-label"></label>
                <input asp-for="TrainerName" class="form-control" />
                <span asp-validation-for="TrainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerType" class="control-label"></label>
                <input asp-for="TrainerType" class="form-control" />
                <span asp-validation-for="TrainerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerPhone" class="control-label"></label>
                <input asp-for="TrainerPhone" class="form-control" />
                <span asp-validation-for="TrainerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerEmail" class="control-label"></label>
                <input asp-for="TrainerEmail" class="form-control" />
                <span asp-validation-for="TrainerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
